*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -webkit-font-feature-settings: "palt";
  font-feature-settings: "palt";
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul {
  padding-inline-start: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  list-style-type: none;
}

/* border */
/* font-color */
.l-footer {
  text-align: center;
}
.l-footer--menu {
  justify-content: space-between;
  padding: 40px 62px 0 63px;
}
.l-footer--menu .c-title--vertical-line::after {
  width: 1.5px;
  height: 70%;
  top: 15%;
  left: 12%;
}
.l-footer .c-text--copy-right {
  display: inline-block;
  margin-top: 34px;
  margin-bottom: 30px;
}

.c-background--footer {
  width: 375px;
  height: 9.375rem;
}

.l-header {
  width: 375px;
  height: 8%;
}
.l-header__top {
  justify-content: space-between;
}
.l-header__top__logo {
  font-size: 40px;
  margin: 40px 0 38px 86px;
}
.l-header__top__menu {
  margin-top: 14px;
  margin-right: 16px;
  font-size: 20px;
  color: #707070;
}
.l-header .p-form-search {
  padding-bottom: 40px;
}
.l-header .p-form-search .c-form-search {
  justify-content: center;
  width: 320px;
  max-width: 100%;
  margin-left: 24px;
}
.l-header .p-form-search .c-form-search .c-form-search__keyword {
  width: 230px;
  height: 46px;
  border-radius: 10px;
  border-width: 1px;
  margin-right: 12px;
}
.l-header .p-form-search .c-form-search .c-form-search__keyword:focus {
  background-image: none;
}
.l-header .p-form-search .c-form-search .c-form-search__keyword:not(:placeholder-shown) {
  background-image: none;
}
.l-header .p-form-search .c-form-search .c-img--magnifying-glass {
  font-size: 24px;
  background-position: 16px 11px;
}
.l-header .p-form-search .c-form-search .c-form-search__submit {
  width: 78px;
  height: 46px;
  background-color: #f2ede9;
  border-radius: 10px;
  border-width: 1px;
}

.l-main {
  height: 2349px;
  width: 375px;
  background-color: #fffdfa;
}
.l-main .p-visual--main .c-title--main {
  padding: 119px 134px 115px 25px;
}
.l-main .p-visual--sub {
  list-style: none;
}
.l-main .p-visual--sub--takeOut {
  position: relative;
}
.l-main .p-visual--sub--takeOut .c-title--sub {
  margin-right: 40%;
  margin-left: 15px;
  padding-top: 11px;
}
.l-main .p-visual--sub--takeOut .sub-section {
  position: absolute;
  bottom: 0;
}
.l-main .p-visual--sub--takeOut .sub-section .c-title--sentence {
  padding-top: 7px;
}
.l-main .p-visual--sub--takeOut > .c-title--underline::after {
  width: 33.89px;
  height: 4px;
  bottom: 2rem;
}
.l-main .p-visual--sub--eatIn {
  position: relative;
}
.l-main .p-visual--sub--eatIn .c-title--sub {
  margin-left: 15px;
  padding-top: 11px;
}
.l-main .p-visual--sub--eatIn .sub-section {
  position: absolute;
  bottom: 0;
}
.l-main .p-visual--sub--eatIn .sub-section .c-title--sentence {
  padding-top: 7px;
}
.l-main .p-visual--sub--eatIn > .c-title--underline::after {
  width: 33.89px;
  height: 4px;
  bottom: -2rem;
  left: -7rem;
}
.l-main .p-visual--sub--sentence {
  margin-bottom: 15px;
  padding: 0 10px;
}
.l-main .p-access {
  position: relative;
}
.l-main .p-access .c-background--map {
  width: 375px;
}
.l-main .p-access .c-background--map .c-title--access {
  position: inherit;
  z-index: 3;
}
.l-main .p-access .c-background--map .c-title--underline {
  position: inherit;
}

.c-background-color--base {
  background-color: #fff7ef;
}
.c-background-color--white {
  background-color: #fff;
}
.c-background--map {
  background-image: url(/images/front/map-sp-full.png);
  background-repeat: no-repeat;
  background-position: center;
}
.c-background--overlay::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.c-background--footer {
  background-image: url(/images/common/footer.png);
}

.c-font-color--base {
  color: #707070;
}
.c-font-color--white {
  color: #ffffff;
}
.c-font-color--ea {
  color: #eaeaea;
}
.c-font-color--3c {
  color: #3c2a10;
}
.c-font-weight--bold {
  font-weight: bold;
}
.c-font-weight--normal {
  font-weight: normal;
}
.c-font-family--robot {
  font-family: "Roboto", sans-serif;
}
.c-font-family--mplus1 {
  font-family: "M PLUS 1p", sans-serif;
}

.c-img--magnifying-glass {
  background-image: url(/images/common/search.png);
  background-repeat: no-repeat;
}

.c-flex {
  display: flex;
}

.c-title--main {
  font-size: 36px;
}
.c-title--sub {
  font-size: 41px;
}
.c-title--sentence {
  font-size: 22px;
}
.c-title--underline::after {
  content: "";
  display: inline-block;
  background-color: #ffffff;
  font-weight: bold;
  position: relative;
}
.c-title--vertical-line::after {
  content: "";
  display: inline-block;
  position: relative;
  background-color: #fff;
}
.c-title--access {
  font-size: 30px;
  color: #ffffff;
}
.c-title--footer {
  font-size: 20px;
  color: #ffffff;
}

.c-text--sub {
  font-size: 16px;
}
.c-text--access {
  font-size: 14px;
  color: #ffffff;
  display: inline-block;
}
.c-text--copy-right {
  font-size: 14px;
  color: #ffffff;
  text-align: center;
}

.c-display--inline-b {
  display: inline-block;
}

.p-visual--main {
  background-image: url(/images/front/main-visual-sp.png);
  background-size: cover;
  height: 285px;
  margin-bottom: 20px;
}
.p-visual--sub--takeOut {
  background-image: url(/images/front/burger-01-sp.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 642px;
  margin: 0 20px 20px;
}
.p-visual--sub--sentence {
  width: 305px;
  height: 124px;
  opacity: 0.8;
  margin: 0 10px;
  display: inline-block;
  height: auto;
}
.p-visual--sub--eatIn {
  background-image: url(/images/front/burger-02-sp.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 643px;
  width: 336px;
  margin: 0 20px 49px 19px;
}

.p-access .c-background--map {
  background-size: cover;
  display: inline-block;
  height: auto;
  min-height: 691px;
  position: relative;
  z-index: 1;
}
.p-access--map::before {
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  width: 100%;
  height: 60%;
}
.p-access--map .c-title--access {
  padding-top: 2rem;
  margin-left: 2.5rem;
}
.p-access--map .c-title--underline::after {
  width: 4.5rem;
  height: 2px;
  bottom: -2rem;
  left: -15rem;
  background-color: #ffffff;
}
.p-access--map .c-text--access {
  display: inline-block;
  height: auto;
  line-height: 2rem;
  margin: 2.5rem 40px 2.5rem 40px;
  position: inherit;
  z-index: 3;
}

/* foundation */
/* layout */
/* object */

/*# sourceMappingURL=style.css.map */
