// _global.scssの読み込み
@use "../../foundation/global" as g;

.c-background {
  &-color {
    &--base {
      background-color: #fff7ef;
    }

    &--white {
      background-color: #fff;
    }
  }

  &--map {
    background-image: url(/images/front/map-sp-full.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  // マップ全体を覆う部分
  &--overlay {
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}
