// _global.scssの読み込み
@use "../../foundation/global" as g;

.c-button {
  &--menu {
    cursor: pointer;
    color: g.$color_base;
  }

  &--archive {
    cursor: pointer;
    background-color: #fff;
    color: g.$color_base;
    text-align: center;
    border-radius: g.$card_button;
  }
}
