.c-font {
  &-color {
    &--base {
      color: #707070;
    }
  }

  &-weight {
    &--bold {
      font-weight: bold;
    }
    &--lighter {
      font-weight: lighter;
    }
  }

  &-family {
    &--robot {
      font-family: "Roboto", sans-serif;
    }
    &--mplus1 {
      font-family: "M PLUS 1p", sans-serif;
    }
  }
}
