// _global.scssの読み込み
@use "../../foundation/global" as g;

.c-text {
  &--sub {
    font-size: 16px;
  }

  &--access {
    font-size: 14px;
    color: g.$color_white;
    display: inline-block;
  }

  &--copy-right {
    font-size: 14px;
    color: g.$color_white;
    text-align: center;
  }

  &--sidebar {
    font-size: 20px;
    font-family: "M PLUS 1p", sans-serif;
    color: g.$color_base;
  }

  &--archive {
    font-size: 16px;
  }

  &--card {
    font-size: 16px;
    font-weight: normal;
    color: g.$color_white;
  }

  &--pagination {
    font-size: 16px;
    font-weight: normal;
    color: g.$color_base;

    // ブレークポイント（タブレット）
    @include g.mq(tab) {
      visibility: hidden;
    }
  }
}
