// _global.scssの読み込み
@use "../../foundation/global" as g;

.c-title {
  &--main {
    font-size: 36px;
  }

  &--sub {
    font-size: 41px;

    // ブレークポイント（タブレット）
    @include g.mq(tab) {
      font-size: 44px;
    }

    // ブレークポイント（PC）
    @include g.mq(pc) {
      font-size: 50px;
    }
  }

  &--sentence {
    font-size: 22px;
  }

  &--underline {
    &::after {
      content: "";
      display: inline-block;
      background-color: #ffffff;
      font-weight: bold;
      position: relative;
    }
  }

  &--vertical-line {
    &::after {
      content: "";
      display: inline-block;
      background-color: #fff;
    }
  }

  &--access {
    font-size: 30px;
    color: g.$color_white;
  }

  &--footer {
    font-size: 20px;
    color: g.$color_white;
  }

  &--sidebar {
    font-size: 34px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: g.$color_base;

    // @media (max-width: 1024px)
    // ブレークポイント（PC）
    @include g.mq(tab) {
      display: none;
    }

    @include g.mq(pc) {
      display: inherit;
    }

    &__menu {
      font-size: 24px;
      font-family: "M PLUS 1p", sans-serif;
      font-weight: bold;
      color: g.$color_base;
    }
  }
}
