// _global.scssの読み込み
@use "../../foundation/global" as g;

.c-title {
  &--main {
    font-size: 36px;
  }

  &--sub {
    font-size: 41px;
  }

  &--sentence {
    font-size: 22px;
  }

  &--underline {
    &::after {
      content: "";
      display: inline-block;
      background-color: #ffffff;
      font-weight: bold;
      position: relative;
    }
  }

  &--vertical-line {
    &::after {
      content: "";
      display: inline-block;
      position: relative;
      background-color: #fff;
    }
  }

  &--access {
    font-size: 30px;
    color: g.$color_white;
  }

  &--footer {
    font-size: 20px;
    color: g.$color_white;
  }
}
