// .u-background--overlay {
//   // display: block;
//   position: absolute;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.3);

//   &.is-active {
//     height: 100%;
//   }
// }

.u-background--overlay {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
  &.js-height {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

.u-background--overlay.js-height {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
