// _global.scssの読み込み
@use "../../foundation/global" as g;

// main内の地図関連の設定
.p-access {
  // Google Maps部分
  .c-background--map {
    background-size: cover;
    display: inline-block;
    height: auto;
    min-height: 691px;
    position: relative;
    z-index: 1;
  }

  &--map {
    // Map上部の影の部分
    &::before {
      content: "";
      display: block;
      background-color: rgba(0, 0, 0, 0.3);
      position: absolute;
      top: 0;
      width: 100%;
      height: 60%;
    }
    // Mapのタイトル
    .c-title {
      &--access {
        padding-top: 40px;
        margin-left: 42px;
      }
      &--underline {
        &::after {
          width: 4.5rem;
          height: 2px;
          bottom: -2rem;
          left: -15.5rem;
          background-color: g.$color_white;
        }
      }
    }

    .c-text--access {
      display: inline-block;
      height: auto;
      line-height: 2rem;
      margin: 2.5rem 40px 51px;
      position: inherit;
      z-index: 3;
    }
  }

  .c-background--overlay {
    &::after {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}
