// _global.scssの読み込み
@use "../../foundation/global" as g;

// main内の画像関連についての設定
.p-visual {
  &--main {
    background-image: url(/images/front/main-visual-sp.png);
    background-size: cover;
    height: 285px;
    margin-bottom: 20px;
  }

  &--sub {
    &--takeOut {
      background-image: url(/images/front/burger-01-sp.png);
      // background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: auto;
      min-height: 642px;
      margin: 0 20px 20px;
      display: flex;
      flex-flow: column;
      justify-content: flex-end;
      gap: 4rem;
    }

    &--sentence {
      width: 305px;
      height: 124px;
      opacity: 0.8;
      margin: 0 10px;
      display: inline-block;
      height: auto;
    }

    &--eatIn {
      background-image: url(/images/front/burger-02-sp.png);
      // background-repeat: no-repeat;
      // width: 336px;
      background-position: center;
      background-size: cover;
      height: auto;
      min-height: 643px;
      margin: 0 20px 49px 19px;
      display: flex;
      flex-flow: column;
      justify-content: flex-end;
      gap: 4rem;
    }
  }
}
