// _global.scssの読み込み
@use "../../foundation/global" as g;

// main内の画像関連についての設定
.p-visual {
  // archiveページの設定
  &__archive {
    // position: relative;

    &--main {
      background-image: url(/images/common/top_01.png);
      background-size: inherit;
      background-position: 32% -78%;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      position: relative;

      .c-title--main {
        position: relative;
        display: flex;
        z-index: 2;
      }

      .c-title--under-text {
        &::after {
          position: absolute;
          // display: inline-block;
          bottom: 5rem;
        }
      }
    }

    &--sentence {
      .c-title--archive {
        margin: 30px 101px 30px 22px;
      }
    }
  }

  &--main {
    background-image: url(/images/front/main-visual-pc.png);
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;

    // ブレークポイント（タブレット）
    @include g.mq(tab) {
      margin-bottom: 40px;
    }

    // ブレークポイント（PC）
    @include g.mq(pc) {
      height: g.rem(530);
      display: flex;
      align-items: center;
      margin-bottom: 120px;
    }
  }

  &--sub {
    // ブレークポイント（タブレット）
    @include g.mq(tab) {
      display: flex;
      justify-content: space-around;
      margin-bottom: 40px;

      > li {
        display: flex;
        flex: 1 0 auto;
      }
    }

    // ブレークポイント（PC）
    @include g.mq(pc) {
      display: flex;
      justify-content: space-around;
      margin-bottom: 131px;

      > li {
        display: flex;
        flex: 1 0 auto;
      }
    }

    &--takeOut {
      background-image: url(/images/front/burger-01-sp.png);
      background-position: center;
      background-size: cover;
      height: auto;
      min-height: 642px;
      margin: 0 20px 20px;
      display: flex;
      flex-flow: column;
      justify-content: flex-end;
      gap: 4rem;

      // ブレークポイント（タブレット）
      @include g.mq(tab) {
        width: calc(50vw - 60px);
        margin: 0 40px;
      }

      // ブレークポイント（PC）
      @include g.mq(pc) {
        width: calc(40.5vw - 60px);
        margin: 0 40px;
      }

      // ブレークポイント（1280px）
      @media (min-width: 1280px) {
        width: calc(40.5vw - 151px);
        margin: inherit;
        margin-left: 111px;
        margin-right: 80px;
      }

      // Take out下の白線
      > .c-title--underline {
        &::after {
          width: g.rem(33.89);
          height: g.rem(4);
          bottom: -2rem;
          right: 10.5rem;

          // ブレークポイント（タブレット）
          @include g.mq(tab) {
            right: 11.5rem;
          }

          // ブレークポイント（PC）
          @include g.mq(pc) {
            right: 13rem;
          }
        }
      }
    }

    &--sentence {
      height: g.rem(124);
      opacity: 0.8;
      display: inline-block;
      height: auto;
    }

    &--eatIn {
      background-image: url(/images/front/burger-02-sp.png);
      background-position: center;
      background-size: cover;
      height: auto;
      min-height: 643px;
      margin: 0 20px 49px 19px;
      display: flex;
      flex-flow: column;
      justify-content: flex-end;
      gap: 4rem;

      // ブレークポイント（タブレット）
      @include g.mq(tab) {
        width: calc(50vw - 60px);
        margin: inherit;
        margin-right: 40px;
      }

      // ブレークポイント（PC）
      @include g.mq(pc) {
        width: calc(40.5vw - 60px);
        margin: inherit;
        margin-right: 40px;
      }

      // ブレークポイント（1280px）
      @media (min-width: 1280px) {
        width: calc(40.5vw - 152px);
        margin: inherit;
        margin-right: 112px;
      }

      // Eat In下の白線
      > .c-title--underline {
        &::after {
          width: 33.89px;
          height: 4px;
          bottom: -2rem;
          left: -7rem;

          // ブレークポイント（タブレット）
          @include g.mq(tab) {
            left: -7.5rem;
          }

          // ブレークポイント（PC）
          @include g.mq(pc) {
            left: -8.5rem;
          }
        }
      }
    }
  }
}
