// _global.scssの読み込み
@use "../foundation/global" as g;

.l-footer {
  text-align: center;
  &--menu {
    justify-content: space-between;
    padding: 40px 62px 0 63px;

    .c-title--vertical-line {
      &::after {
        width: 1.5px;
        height: 70%;
        top: 15%;
        left: 12%;
      }
    }
  }
  .c-text--copy-right {
    display: inline-block;
    margin-top: 34px;
    margin-bottom: 30px;
  }
}
.c-background--footer {
  width: 375px;
  height: 9.375rem;
}
