// _global.scssの読み込み
@use "../foundation/global" as g;

// ヘッダーの最上位の親要素
.l-header {
  width: 100%;
  height: 8%;

  // @media (min-width: 768px) {
  //   width: 100%;
  //   // max-width: 834px;
  // }

  // logoとmenuの親要素
  &__top {
    display: flex;

    // @media (min-width: 768px) {
    //   justify-content: inherit;
    // }

    // タイトル（Hamburger）の装飾
    &__logo {
      font-size: 40px;
      margin: 40px 0 38px 86px;
      margin-left: auto;

      // @media (min-width: 768px) {
      // }
    }

    // Menuボタンの装飾
    &__menu {
      margin-top: 14px;
      margin-right: 16px;
      margin-left: auto;

      .c-button--menu {
        font-size: 20px;

        @media (min-width: 768px) {
          font-size: 34px;
        }
      }
    }
  }

  // 検索フォームと検索ボタンの最上位の親要素
  .p-form-search {
    padding-bottom: 40px;

    // keywordとsubmitの親要素
    .c-form-search {
      display: flex;
      justify-content: center;
      // max-width: 100%;
      margin-left: 24px;

      @media (min-width: 768px) {
        justify-content: inherit;
        width: 65%;
        margin: 0 auto;
      }

      // 検索ボックス
      .c-form-search__keyword {
        width: 61%;
        height: g.rem(46);
        border-radius: g.$radius;
        border-width: g.$bd_width;
        margin-right: 12px;

        // @media (min-width: 768px) {
        //   width: g.rem(396);
        // }

        &:focus {
          background-image: none;
        }

        &:not(:placeholder-shown) {
          background-image: none;
        }
      }

      .c-img--magnifying-glass {
        font-size: 24px;
        background-position: 16px 11px;
      }

      // 検索ボタン
      .c-form-search__submit {
        width: 20%;
        height: g.rem(46);
        background-color: #f2ede9;
        border-radius: g.$radius;
        border-width: g.$bd_width;

        // @media (min-width: 768px) {
        //   width: g.rem(136);
        // }
      }
    }
  }
}
