// _global.scssの読み込み
@use "../foundation/global" as g;

// メインビジュアル
.l-main {
  height: auto;
  // width: g.rem(375);
  background-color: #fffdfa;

  .p-visual--main {
    .c-title--main {
      padding: 119px 134px 115px 25px;
    }
  }

  // サブビジュアル
  .p-visual--sub {
    list-style: none;

    // テイクアウト
    &--takeOut {
      position: relative;

      .c-title--sub {
        margin-left: 15px;
        padding-top: 11px;
        margin-bottom: auto;
      }

      // 2つの文章ブロックを内包
      .sub-section {
        display: flex;
        flex-direction: column;
        margin: 0 15px;

        .c-title--sentence {
          padding-top: 7px;
          padding-left: 10px;
        }

        .c-text--sub {
          margin: 3px 10px 15px;
        }
      }

      // Take out下の白線
      > .c-title--underline {
        &::after {
          // width: 33.89px;
          width: g.rem(33.89);
          height: g.rem(4);
          bottom: -2rem;
          right: 10.5rem;
        }
      }
    }

    // イートイン
    &--eatIn {
      position: relative;

      .c-title--sub {
        margin-left: 15px;
        padding-top: 11px;
        margin-bottom: auto;
      }

      // 2つの文章ブロックを内包
      .sub-section {
        margin: 0 15px;
        display: flex;
        flex-direction: column;

        .c-title--sentence {
          padding-top: 7px;
          padding-left: 10px;
        }

        .c-text--sub {
          margin: 3px 11px 15px 10px;
        }
      }

      // Eat In下の白線
      > .c-title--underline {
        &::after {
          width: 33.89px;
          height: 4px;
          bottom: -2rem;
          left: -7rem;
        }
      }
    }

    &--sentence {
      margin-bottom: 15px;
      // padding: 0 10px;
    }
  }

  // マップ関連
  .p-access {
    position: relative;

    .c-background--map {
      // width: g.rem(375);
      // 24rem

      .c-title--access {
        position: inherit;
        z-index: 3;
      }

      .c-title--underline {
        position: inherit;
      }
    }
  }
}
