.l-main {
  height: 2349px;
  width: 375px;
  background-color: #fffdfa;

  .main-visual {
    background-image: url(/images/front/main-visual-sp.png);
    background-size: cover;
    height: 285px;
    margin-bottom: 20px;

    &__title {
      font-size: 36px;
      padding: 119px 134px 115px 25px;
    }
  }

  .sub-visual {
    list-style: none;

    .sub-visual__takeOut {
      background-image: url(/images/front/burger-01-sp.png);
      background-repeat: no-repeat;
      background-position: center;
      height: 642px;
      margin: 0 20px 20px;

      .sub-visual__takeOut__title {
        font-size: 41px;
        margin-right: 157px;
        margin-left: 15px;
        padding-top: 11px;
      }

      &::after {
        content: "";
        width: 33.89px;
        height: 4px;
        display: inline-block;
        background-color: #ffffff;
        font-weight: bold;
        margin-left: 15.5px;
      }
    }

    .sub-visual__eatIn {
      background-image: url(/images/front/burger-02-sp.png);
      background-repeat: no-repeat;
      background-position: center;
      height: 643px;
      width: 336px;
      margin: 0 20px 49px 19px;

      .sub-visual__eatIn__title {
        font-size: 41px;
        margin-right: 218px;
        margin-left: 13px;
        padding-top: 11px;
      }

      &::after {
        content: "";
        width: 33.89px;
        height: 4px;
        display: inline-block;
        background-color: #ffffff;
        font-weight: bold;
        margin-left: 15.5px;
      }
    }
  }
}
