// _global.scssの読み込み
@use "../foundation/global" as g;

// 一番上の親要素
.side-wrapper {
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 0;
  left: 100%;

  // l-sidebar__mainとc-background--overlayの親要素
  .l-sidebar {
    // visibility: hidden;
    display: flex;
    justify-content: flex-end;
    height: 100vh;
    transition: 0.5s;

    // ｘ印のspanセレクタのクラス
    .menu-close {
      display: flex;
      justify-content: flex-end;
      line-height: normal;
    }

    // ｘ印の実装部分
    .c-xmark::before {
      display: inline-block;
      color: g.$color_base;
      margin-top: 25px;
      margin-right: 17px;
      font-size: 2.5rem;
      -webkit-text-stroke-width: 4px;
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke-color: #f2ede9;
    }

    // サイドバーのメニューの一覧があるメイン部分
    &__main {
      // width: 100vw;
      width: 0;
      height: 100%;
      overflow: scroll;
      background-color: g.$color_f2ede9;
      // overflow-y: scroll;
      // background: linear-gradient(
      //   to right,
      //   rgba(0, 0, 0, 0.5) 0%,
      //   rgba(0, 0, 0, 0.5) 12.5%,
      //   g.$color_f2ede9 12.5%,
      //   g.$color_f2ede9 100%
      // );

      .c-title--sidebar {
        display: none;

        &__menu {
          // メニュータイトルの一番上のバーガー部分への指定
          &:first-of-type {
            margin-top: 212px;
          }
          margin: 3rem 0 0 20%;
        }
      }

      .c-text--sidebar {
        margin: 40px 22px auto 21.5%;

        > li {
          margin-bottom: 23px;
        }
      }
    }
  }
}
