// _global.scssの読み込み
@use "../foundation/global" as g;

.l-sidebar {
  width: 375px;
  height: 100%;
  min-height: 2716px;
  position: absolute;
  background-color: g.$color_f2ede9;
  top: 0;
  left: 26%;
}
